/*import font ("Poppins") from google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Apply a universal reset for margin and padding to all elements */

* {
    margin: 0;
    padding: 0;
    /* Set the default font family to "Poppins" and fallback to sans-serif */
    font-family: "Poppins", sans-serif;
    /* Include padding and border in the element's total width and height */
    box-sizing: border-box;
}


/* Apply styles to the body element */

body {
    /* Set background color to dark blue */
    background: #002339;
    /* Set text color to white */
    color: #fff;
}


/* Apply styles to the container class */

.container {
    /* Set margin to 12% of the viewport height on all sides */
    margin: 12%;
    /* Set width to 90% of the viewport width */
    width: 90%;
    /* Set maximum width to 700px */
    max-width: 700px;
}


/* Apply styles to the display class */

.display {
    /* Set width to 100% */
    width: 100%;
    /* Set top margin to 50px and bottom margin to 30px */
    margin-top: 50px;
    margin-bottom: 30px;
    /* Set background color to white */
    background: #fff;
    /* Set text color to dark */
    color: #333;
    /* Arrange child elements in a row with space between */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Add padding to top and bottom (26px) and left and right (20px) */
    padding: 26px 20px;
    /* Add rounded corners to the element */
    border-radius: 5px;
}


/* Apply styles to the h1 element within the container */

.container h1 {
    /* Set font weight to 500 */
    font-weight: 500;
    /* Set font size to 45px */
    font-size: 45px;
}


/* Apply styles to the span element within the container */

.container span {
    /* Set text color to a green shade */
    color: #019f55;
    /* Add a bottom border with a green color */
    border-bottom: 4px solid #019f55;
}


/* Apply styles to the img element within the display class */

.display img {
    /* Set width to 30px */
    width: 30px;
    /* Set cursor to pointer to indicate interactivity */
    cursor: pointer;
}


/* Apply styles to the input element within the display class */

.display input {
    /* Remove default border */
    border: 0;
    /* Remove default outline */
    outline: 0;
    /* Set font size to 24px */
    font-size: 24px;
}


/* Apply styles to the img element within the button class within the container */

.container button img {
    /* Set width to 28px */
    width: 28px;
    /* Add right margin of 10px */
    margin-right: 10px;
}


/* Apply styles to the button element within the container */

.container button {
    /* Remove default border */
    border: 0;
    /* Remove default outline */
    outline: 0;
    /* Set background color to green */
    background: #019f55;
    /* Set text color to white */
    color: #fff;
    /* Set font size to 22px */
    font-size: 22px;
    /* Set font weight to 300 */
    font-weight: 300;
    /* Arrange child elements in a row with space between */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Add padding to top and bottom (16px) and left and right (26px) */
    padding: 16px 26px;
    /* Add rounded corners to the element */
    border-radius: 5px;
    /* Set cursor to pointer to indicate interactivity */
    cursor: pointer;
}